@model List<Category>
<div class="container">
	<div class=" row pt-4 pb-4">
		<div class=" col-10">
			<h2 class=" text-dark">
				Category List
			</h2>
		</div>
		<div class=" col-2 text-end">
			<a asp-controller="Category" asp-action="Create" class=" btn btn-outline-primary btn-circle text-dark">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
					<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
				</svg>
			</a>
		</div>
	</div>
	<table id="myTable" class=" table table-hover table-bordered table-striped" style="width:100%">
		<thead>
			<tr>
				<th>Category Name</th>
				<th</th>
			</tr>
		</thead>
	</table>
</div>

@section Scripts {
	<script src="~/js/category.js"></script>
}